@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');
body {
  margin: 0;
  width: 100%;

}




@media all and (min-width: 10px) {


  .recipe {
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 15px;
    box-sizing: border-box;
    background-color:white;
  }
  .hamburger_haiti{
    background-color: white;
    height: 100px;
    width: 100px;
    float: left;
  }
  .namefont {
    margin: 0px 0px 30px 0px;
    font-size: 24px;
    text-align: left;
    /* color: cadetblue; */
    font-family: 'Noto Sans JP', sans-serif;

  }
   */
  .photo {
    max-height: 250px;
    margin: 20px -15px;
     overflow: hidden; 
    text-align: center;
  }
  .photo img {
    width: 100%;
    height: auto;
  }

  .flexbox {
    display: flex;
    width: 700px;
    margin: 20px auto;
  }
  .zairyo {
    width: 50%;
    padding-right: 20px;
    box-sizing: border-box;
  }
  .flexbox h2 {
    padding: 5px;
    font-size: 16px;
    background-color:white;
    color: #FFF;
    font-weight: normal;
  }
  .zairyo table {
    text-align: left;
    font-size: 14px;
  }
  .zairyo table th,
  .zairyo table td {
    padding: 2px;
    border-bottom: 1px dotted white;
  }
  .zairyo table th span {
    display: block;
    font-size: 12px;
    font-weight: normal;
  }
  .zairyo table td {
    padding-left: 10px;
  }
  .text {
    width: 50%;
  }
  .text ol {
    margin: 0;
    padding: 0;
  }
  .text li {
    margin: 0 0 10px 1.5em;
    font-size: 14px;
    line-height: 1.3;
  }
  .text p {
    font-size: 12px;
    line-height: 1.3;
  }


/* フッター */


  @media (max-width: 639px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 69px auto 45px;
    }
  }
  
  .footer__copyright {
    font-size: 12px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0;
  }
  
  @media (max-width: 639px) {
    .footer__copyright {
      margin: 0 0 12px;
    }
  }
  
  .footer__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    padding: 0;
    font-size: 12px;
    margin: 0;
  }
  
  @media (max-width: 639px) {
    .footer__link {
      font-size: 13px;
    }
  }
  
  .footer__link li {
    margin: 0 0 0 12px;
  }
  
  @media (max-width: 639px) {
    .footer__link li {
      margin: 0 12px 0 0;
    }
  }
  
  .footer__link li a {
    font-weight: bold;
  }

























}